<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script type="text/javascript" src='http://localhost:3000/js'></script>
    <link rel="stylesheet" type="text/css" href="http://localhost:3000/css">.
    <title>Blog Posts</title>
</head>

<body>
    <h1>Blog Post</h1>
    <div id="nav-placeholder">
    </div>
    <button onclick="getBlogposts('http://localhost:3000/blogpost?user=5dc2213334153f84957526f6')">GET USER BLOGPOSTS</button>
    <div id='inside'></div>

    <script>
        
        async function getBlogposts(url){
            try{

                console.log('SENDING HTTP GET')
                let data = await fetch(url)
                console.log(data)
                let myJson = await data.json()
                console.log(myJson)

                document.getElementById('inside').innerHTML += myJson.map(obj=>obj.blogpost + '<br/>')

            } catch(error){
                console.log(error)
            }
            

        }
    
    </script>

</body>

</html>