<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="http://localhost:3000/css">.
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script type="text/javascript" src='http://localhost:3000/js'></script>

    <title>Create User</title>
</head>

<body>
    
    <h1>Create User</h1>
    <div id='nav-placeholder'></div>

    <input id='un' placeholder="username">
    </br>
    <input id='pw' placeholder="password">
    <button onclick="postUser()">SUBMIT</button>
    <div id='inside'></div>

</body>

</html>